[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
"psycopg2" = "*"
flask-restful = "*"
passlib = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-mail = "*"
pdfkit = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.7"
