<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
        <span style="font-size:50px; font-weight:bold">Certificado</span>
        <br><br>
        <span style="font-size:25px"><i>Esto es para certificar que</i></span>
        <br><br>
        <span style="font-size:30px"><b>{{username}} </b></span><br/><br/>
        <span style="font-size:25px"><i>ha completado el curso</i></span> <br/><br/>
        <span style="font-size:30px">{{course}}</span> <br/><br/>
    </div>
</div>

</body>
</html>